html {
  box-sizing: border-box;
  background: linear-gradient(to bottom, $gradient-light, $basic-dark) fixed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 1px solid tomato;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: $button-shadow;
}
